# Ignore GIT folder and files
.git/
.gitignore
.gitattributes

# Ignore docker files
.dockerignore
Dockerfile*
docker-compose*

# Ignore some project files
**/[b|B]in/
**/[O|o]bj/
**/*.env
**/*.md
LICENSE

# Ignore folders with external data
.github/
.sonarqube/
.idea/
.vscode/
docker/
