# System variables

## Connection strings
CS_MAIN=Host=localhost;Port=5432;Username=user;Password=password;Database=biotablero;

## Auth server variables
KC_BASE_URL=http://localhost:8080
KC_REALM=bt-cm
KC_CLIENT=bt-mc-client
KC_CLIENT_BACKEND=bt-mc-client-backend
KC_CLIENT_BACKEND_PASS=BACK3ND-S3CR3T-K3Y
KC_USE_HTTPS=False

## Database variables
### Postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=biotablero
DB_USER=user
DB_PASSWORD=password
### Keycloak
KC_DB_NAME=keycloak
KC_DB_USER=keycloak_user
KC_DB_PASS=keycloak_pass

## External services
### AWS
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=us-east-1
S3_ENDPOINT_URL=http://localhost:4566
S3_BUCKET_NAME=bt-cm-files
### SMTP Server
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_ENABLED_SSL=False
SMTP_FROM=comunicaciones@example.com
SMTP_FROM_NAME=Comunicaciones IAVH
SMTP_USER=
SMTP_PASS=