# System variables
## Connection strings
CS_MAIN=Host=localhost;Port=5432;Username=user;Password=password;Database=biotablero;

## Database variables
### Postgres
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="biotablero"
DB_USER="user"
DB_PASSWORD="password"
### Keycloak
DB_KEYCLOAK_NAME="keycloak"
DB_KEYCLOAK_USER="keycloak_user"
DB_KEYCLOAK_PASSWORD="keycloak_pass"
