# System variables

## Connection strings
CS_MAIN=Host=localhost;Port=5432;Username=user;Password=password;Database=biotablero;

## Auth server variables
KC_REALM_URL="http://localhost:8080/realms/bt-cm"
KC_CLIENT="bt-mc-client"

## Database variables
### Postgres
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="biotablero"
DB_USER="user"
DB_PASSWORD="password"
### Keycloak
KC_DB_NAME="keycloak"
KC_DB_USER="keycloak_user"
KC_DB_PASS="keycloak_pass"
