@model IAVH.BioTablero.CM.Core.Domain.Utils.Email.DefaultEmailData

<div style="margin: auto;width: 20rem;">
    <h2 style="color: #e84a5f;">Solicitud de Ingreso</h2>
    <p>@Html.Raw(Model?.Content)</p>
</div>
