@model IAVH.BioTablero.CM.Core.Domain.Models.Email.JoinInvitationEmailData
@{
    Model.Subject = $"Invitación a unirse a {Model?.InitiativeName}";
    Model.Content = $"Has sido invitado a unirte a la iniciativa '{Model?.InitiativeName}'.<br /> {Model?.EmailMessage}.";
}

<div style="margin: auto;width: 20rem;">
    <h2 style="color: #e84a5f;">Invitación a Iniciativa</h2>
    <p>@Html.Raw(Model?.Content)</p>
</div>
