@using static IAVH.BioTablero.CM.Core.Domain.Utils.Enums.InitiativesEnums
@model IAVH.BioTablero.CM.Application.DTOs.Notifications.NotificationDto
@{
    var messageTitle = "Solicitud de Ingreso";
    var leaveInitiative = Model?.Properties?.Data["LeaveInitiative"] is bool value ? value : false;
    
    if (leaveInitiative)
    {
        messageTitle = "Solicitud de salida";
    }

    var converted = Enum.ToObject(typeof(JoinRequestStatus), Model?.Properties?.Data["JoinRequestStatus"]);
    JoinRequestStatus? joinRequestStatusEnum = null;

    if (Enum.IsDefined(typeof(JoinRequestStatus), converted))
    {
        joinRequestStatusEnum = (JoinRequestStatus)converted;        
    }

    if (joinRequestStatusEnum != null)
    {
        var initiativeName = Model?.Properties?.Data["InitiativeName"];
        var userName = Model?.Properties?.Data["UserName"];

        if (joinRequestStatusEnum == JoinRequestStatus.UnderReview)
        {
            if (leaveInitiative)
            {
                Model.Subject = $"Solicitud de ingreso a '{initiativeName}'";
                Model.Body = $"El usuario '{userName}' ha realizado una solicitud de acceso para la iniciativa '{initiativeName}'";
            }
            else
            {
                Model.Subject = $"Solicitud para salir de '{initiativeName}'";
                Model.Body = $"El usuario '{userName}' ha realizado una solicitud para salir de la iniciativa '{initiativeName}'";
            }
            
        }
        else if (joinRequestStatusEnum == JoinRequestStatus.Approved)
        {
            if (leaveInitiative)
            {
                Model.Subject = $"Solicitud de ingreso a '{initiativeName}' aprobada";
                Model.Body = $"Bienvenido a '{initiativeName}'.<br /> Ya puedes aportar al estado de la biodiversidad de nuestro territorio.<br /><br />Ve a la sección de colaboradores de tu iniciativa y diligencia tus áreas de experticia e interés";
            }
            else
            {
                Model.Subject = $"Solicitud de salida de '{initiativeName}' aprobada";
                Model.Body = $"Se ha aprobado la solicitud para salir de la iniciativa '{initiativeName}'.";
            }
        }
        else if (joinRequestStatusEnum == JoinRequestStatus.Rejected)
        {
            if (leaveInitiative)
            {
                Model.Subject = $"Solicitud de ingreso a '{initiativeName}' rechazada";
            }
            else
            {
                Model.Subject = $"Solicitud de salida de '{initiativeName}' rechazada";
            }

            Model.Body = "Tu solicitud ha sido rechazada. Si consideras que se trata de un error solicita de nuevo.";
        }
    }
}

<div style="margin: auto;width: 20rem;">
    <h2 style="color: #e84a5f;">@messageTitle</h2>
    <p>@Html.Raw(Model?.Body)</p>
</div>
