@model IAVH.BioTablero.CM.Core.Domain.Utils.Email.JoinInvitationEmailData
@{
    var subject = $"Invitación a unirse a {Model?.InitiativeName}";
    var content = $"Has sido invitado a unirte a la iniciativa '{Model?.InitiativeName}'.<br /> {Model?.EmailMessage}.";
    Model.Subject = subject;
    Model.Content = content;
}

<div style="margin: auto;width: 20rem;">
    <h2 style="color: #e84a5f;">Invitación a Iniciativa</h2>
    <p>@Html.Raw(content)</p>
</div>
