@model IAVH.BioTablero.CM.Application.DTOs.Notifications.NotificationDto
@{
    Model.Subject = $"Invitación a unirse a {Model?.Properties?.Data["InitiativeName"]}";
    Model.Body = $"Has sido invitado a unirte a la iniciativa '{Model?.Properties?.Data["InitiativeName"]}'.<br /> {Model?.Properties?.Data["EmailMessage"]}.";
}

<div style="margin: auto;width: 20rem;">
    <h2 style="color: #e84a5f;">Invitación a Iniciativa</h2>
    <p>@Html.Raw(Model?.Body)</p>
</div>
