@model IAVH.BioTablero.CM.Core.Domain.Models.Email.PendingRequestsReminderEmailData
@{
    Model.Subject = "Tienes solicitudes de ingreso pendientes de revisión";
    Model.Content = $"Tienes <b>{Model?.PendingRequestsCount}</b> solicitudes de ingreso que necesitan tu revisión.";
}

<div style="margin: auto;width: 20rem;">
    <h2 style="color: #e84a5f;">Recordatorio de Revisión</h2>
    <p>@Html.Raw(Model?.Content)</p>
</div>
